table{
  margin: 32px 0;
  width: 94%;
  max-width: 1200px;
  border-collapse: collapse;
}

th {
  background-color: #0A8F3E;
  color: #fcfcfc;
}

th {
  border-bottom: 1px solid #0A8F3E;
  padding: 13px;
  text-align: center;
}
td{
  font-size: 15px;
  color: #000000;
  text-align: center;
  background-color:rgba(122, 122, 122, 0.226) ;
  height: 32px;

}

tr:hover{
  background-color: rgba(122, 122, 122, 0.438)
}

.containerTable{
   background-color: #fff;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 95%;
    max-width: 1250px;
    border-radius: 8px;
    font-family: calibri;
}
