table{
  padding-top: 20px;
  width: 90%;
  max-width: 1200px;
}

th {
  background-color: #0A8F3E;
  color: #fcfcfc;
}

th {
  border-bottom: 1px solid #0A8F3E;
  padding: 13px;
  text-align: center;
}
td{
  font-size: 15px;
  color: #000000;
  text-align: center;
  background-color:rgba(122, 122, 122, 0.226) ;

}

tr:hover{
  background-color: rgba(122, 122, 122, 0.438)
}

.containerTable{
  display: flex;
  justify-content: center;
}