.heartButton button, .starButton button  {
    padding: 5px 2px;
    border: none;
    background-color: transparent;


}

.starButton {

    display: contents; 
}

.heartButton{
    display: contents;   
    

}
