.form {

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="file"] {
  height: 38px;
  width: 300px;
  background-color: rgba(133, 133, 133, 0.336);
  border-radius: 5px;
  border: none;
  outline: 0;
  /* border: 2px solid; */
  padding: 8px;
  box-sizing: border-box;
}

.form button {
  background-color: #0a8f3e;
  color: #fff;
  border: none;
  width: 78%;
  height: 38px;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
}

.containerInsertBook {
  height: 100vh;
}

.containerForm {
  background-color: #fff;
  margin:16px auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 95%;
  max-width: 1250px;
  height: 80%;
  border-radius: 8px;
  font-family: calibri;
}
