.containerNavbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(7, 160, 2);
    padding: 20px 0;
}

.containerNavbar a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 15px;
}
