.card{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 16px;
    font-family: serif;
}

.card img{
    width: 220px;
    height: 280px;
    margin: 0 auto;

}
.card button{
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}

.retirar{
    padding: 10px;
    background-color: #0A8F3E;

}
.retirar button:active{
    background-color:#065825;
}
.avaliation h2{
    padding-top: 1rem;
    font-weight: 300;
    text-align: center;
    border-top: groove 2px #d8d8d88a;
}
.star{
    padding-bottom: 10px;
}

.infoBookH2{
    padding-top: .50rem;
    font-weight: 100;
    text-align: left;
    font-size: 20px;
}
.titleH1{
    font-weight: 100;

}
.star{
    text-align: center;
}

.sad, .heart{
    float: right;
}

.comentsText textarea{
    width: 98%;
    height: 50px;
    border-radius: 5px;

}
.twoFirst{
    padding-top: 10px;
}
.twoEnd{
    padding-bottom: 10px;
}
.twoFirst,.comentsText{
    border-top: groove 2px #d8d8d88a;
    
}
.twoFirst span, .twoEnd span{
    font-size: 1rem;
    display: flex;
}
