.principal{
    background-color: #0a8f3d46;
    
}

.card{
    background-color: #fff;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 22px 15px;
    height: 83%;
    width: 83%;
    border-radius: 16px;
    font-family: system-ui;
}

.card img {
  width: 220px;
  height: 300px;
  margin: 0 auto;
}
.card button {
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
}

.navBar{
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    font-family: calibri;
    background-color: #0A8F3E;

}
.navBar a{
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 15px;
    float: right;

}
.biblioTitle {
    padding-LEFT: 15px;
    color: rgb(14, 105, 2);
    font-weight: bold;
    font-size: 25px;

}
.biblioSubtitle{
    color: rgb(255, 255, 255);
    font-size: 25px;
 
}
.retirar{
    padding: 10px;
    background-color: #0A8F3E;

}
.retirar button:active {
  background-color: #065825;
}



.infoBookH2 {
  padding-top: 0.5rem;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
}
.titleH1 {
  font-size: 27px;
}

.containerErro img {
  width: 50%;
}
