.avaliation h2{
    /* border-top: groove 2px #d8d8d834; */
    text-align: center;
    font-weight: 300;
}
.numberRate{
    display: flex;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
}
.star{
    float: right;
}
.star button{
    border: none;
    background-color: transparent;
    padding: 5px 2px;

}
.classification button{
    padding: 1px 1px;
    border: none;
    background-color: transparent;
}
.progressSpan{
    display:grid;
}
.progressBarM{
    
    background-color: rgb(255, 208, 0);
    width: 110px;
    height: 7px;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 8px;

}

   

.progressBar{
    display:grid;
    align-content: space-between;
}
.comentsText {
    /* margin-top: 20px; */
    border:groove 2px #d8d8d834;
    padding-left: 10px;
}
.svgs {
    padding-top: 10px;
    padding-bottom: 7px;
}
.name{
    padding-bottom: 2px;
    font-weight: bold;
    display: grid;
}
.comments{
    padding: 10px 0px;
    display: grid;
}
.date{
    color:#bebebe ;
}
