.avaliation h2 {
    padding-top: 0.5rem;
    font-weight: 300;
    text-align: center;
    border-top: groove 2px #d8d8d834;
  }
  .star {
    padding-bottom: 10px;
    text-align: center;
  }
  .sad,
  .heart {
    float: right;
  }
  
  .comentsText textarea {
    padding-top: 5px;
    padding-left: 5px;
    width: 96%;
    height: 50px;
    border-radius: 5px;
    font-family: system-ui;

  }
  .comentsText h2{
    font-size: 20px;
  }

  .twoFirst {
    padding-top: 10px;
  }
  .twoEnd {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .twoFirst{
    border-top: groove 2px #d8d8d834;
  }
  .twoFirst span,
  .twoEnd span {
    font-size: 1rem;
    display: flex;
  }
  