.avaliation h2{
    /* border-top: groove 2px #d8d8d834; */
    text-align: center;
    font-weight: 300;
}
.numberRate{
    display: flex;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
}
.star{
    float: right;
    padding-top: 10px;
}
.star button{
    border: none;
    background-color: transparent;
    padding: 5px 2px;

}
.classification button{
    padding: 1px 1px;
    border: none;
    background-color: transparent;
}
.progressSpan{
    display:grid;
    margin-top: 5px;
}

.progress{
    background-color: yellow;
}

.Swiper-pagination{
    color:green;
}

.progressBar{
    display:flex;
}
.comentsText {
    border:groove 2px #d8d8d834;
    padding: 0 10px;
}
.svgs {
    padding-top: 10px;
    padding-bottom: 7px;
}
.name{
    padding-bottom: 2px;
    font-weight: bold;
    display: grid;
}
.comments{
    padding: 10px 0px;
    display: grid;
}
.date{
    color:#bebebe ;
}
